@import "~@stoplight/ui-kit/styles/_ui-kit.scss";
@import "~@stoplight/mosaic/styles.css";
@import "~@stoplight/mosaic/themes/default.css";

.JsonSchemaViewer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', system-ui, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';}
